@media (max-width: 575.98px) {
    
.navbar .header .logo {
    flex-basis: 100%;
    max-width: 100%;
    padding-left: 25px;
}
.navbar .header nav {
	flex-basis: 100%;
	max-width: 100%;
	padding-left: 45px;
	display: none;
}
.navbar .header .contact, .col-3 {
	flex-basis: 100%;
    max-width: 100%;
    display: none;
}
#banner {
	width: 100%;
	margin: auto;
	padding: 0 0;
	margin-top: 120px;
}
#banner .col-6 {
	flex-basis: 100%;
	max-width: 1000%;
}
#banner .row .banner-content h1 {
	font-size: 20px;
	text-align: center;
}
#banner .row .banner-content p {
	text-align: center;
}
#banner .row .banner-content a {
	padding-left: 35%;
}
#banner .row .banner-img img {
	margin-top: 30px;
}
#about {
	width: 100%;
}
#about .col-6 {
	flex-basis: 100%;
	max-width: 100%;
}
#about .row .about-img img {
}
.about-img {
	margin-top: 60px;
}
#about .row .about-content {
	margin-top: 0px;
	margin-left: 0px;
}
#about .row .about-content h2, #gradient .gradient .text h2 {
	font-size: 18px;
}
#about .row .about-content h4 {
	font-size: 20px;
}
#about .row .about-content p {
	font-size: 14px;
}
#work {
	margin-top: 50px;
}
#gradient .gradient {
	width: 100%;
}
#about .row .about-content h2, #gradient .gradient .text h2 {
	padding-left: 10px;
}
#gradient .gradient .button a {
	font-size: 15px;
}
.navbar .header .contact a, #gradient .gradient .button a, #sign-up .sign-up-cont .sign-form .sign-button a {
	padding: 10px 10px;
}
#service {
	width: 100%;
	margin-top: 50px;
}
#service .col-6 {
	flex-basis: 100%;
	max-width: 100%;
}
#service .service-cont {
	padding: 30px 0px 0px 0px;
}
#service .service-cont h3 {
	font-size: 20px;
	padding: 0 0 0 10px;
}
#service .service-cont p {
	padding: 0px 0px;
}
#service .service-img img {
	width: 80%;
}
#service .service-img {
	position: relative;
	margin-top: 30px;
}
#service .service-img img {
	bottom: -219px;
}
#career .col-6 {
	flex-basis: 100%;
	max-width: 100%;
}
#career .service-img img {
	width: 180%;
}





















}